.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Gifbox {
  width: 1040px;
  position: relative;
}
.Gifs {
  width: 248px;
  height: 248px;
  position: absolute;
}

.TrendingHeader {
  padding-bottom: 40px;
  color: white;
}

.SearchLabel {
  font-size: 20px;
  height: 25px;
}

.SearchBox {
  height: 25px;
}

.SearchField {
  display: inline-block;
  background-color: blue;
  margin-bottom: 20px;
}
